/* Reset básico para garantir uma aparência consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 500px;
}

.container-cp {
    background-color: #916cb6;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    position: relative;
    left: 550px;
    top: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

label {

    margin-bottom: 8px;
    font-weight: bold;
    color: #d3d3d3;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3f225c;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#output {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

footer {
    position: relative;
    top: 500px;
}