#logoslacp{
    width: 100px;
    position: relative;
    left: 300px;
}

.navbarcp {
    display: flex;
    width: 1210px;
    position: relative;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #D9BCF6;
    padding: 1rem 2rem;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

.container-cp {
    background-color: var(--main-color);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    width: 100%;
    height: 1300px;
    position: relative;
    left: 200px;
    top: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}


label {

    margin-bottom: 8px;
    font-weight: bold;
    color: #636363;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

textarea {
    resize: vertical;
}


button {
    background-color: #3f225c;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

#output {
    margin-top: 20px;
    padding: 15px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

footer {
    position: relative;
    top: 500px;
}
