@font-face {
  font-family: "System Font Regular";
  src: url("..//fonts/System Font Regular.ttf") format("truetype");
}
/* Estilo da caixa principal */
.box {
  max-width: 1500px;
  height: 2000px;
  position: relative;
  bottom: 30px;
  margin: 24px auto;
}
.sobre-sla h4{
  font-size: 20px;
  color: black;
  text-align: justify;
  text-indent: 2.5em;
  max-width: 800px;
  margin: 15px auto;
  padding-inline: 1rem;
}
/* Estilo dos títulos */
main h1 {
  text-align: center;
  margin: 32px auto 32px;
  font-size: 3em;
  color: #260547;
  
}
/* Estilo dos parágrafos */
main .texto p {
  text-align: justify;
  text-indent: 2.5em;
  font-size: 1.2em;
  max-width: 800px;
  margin: 15px auto;
  padding-inline: 1rem;
}
/* Estilo das imagens */


@media (max-width: 992px) {

  main h1 {
    font-size: 2.2em;
  }

  main .texto p {
    font-size: 1em;
  }
}


.sobre-sla {
  font-size: 2em;
}

#orgulho-img {
  width: 150px;
}